In [3]:
import geopandas as gpd # for countries
import pandas as pd
import json

# link: https://www.naturalearthdata.com/downloads/110m-cultural-vectors/# here click "download land" to get, among other files, the shapefile used to show the different countries on the map
# store the downloaded data in the same directory as this notebook
shapefile = 'ne_110m_admin_0_countries_lakes.shp'

# read shapefile using Geopandas
countries = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]
countries

# rename columns
countries.columns = ['country', 'country_code', 'geometry']
countries

year = 0
while (year < 1900 or year > 2021):
    year = int(input("Please type in for which year (between 1900 and 2020) you would like to see the shares of renewable energy:"))

Please type in for which year (between 1900 and 2020) you would like to see the shares of renewable energy: 2020

In [4]:
with open('energy.csv', 'r') as energy_csv:
    energy = pd.read_csv(energy_csv)
energy_2020 = energy [energy['year'] == year] #while testing year was set to 2020 thus the name of the variable
#energy_2020 = energy_2020.dropna(axis=1)
energy_2020

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
800,ARG,Argentina,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.743,NaN,NaN,6.970,NaN,NaN,NaN,NaN,208.421,NaN
1038,AUS,Australia,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,730.938,NaN,NaN,9.671,NaN,NaN,NaN,NaN,953.288,NaN
1159,AUT,Austria,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.455,NaN,NaN,9.883,NaN,NaN,NaN,NaN,762.588,NaN
1200,AZE,Azerbaijan,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.340,NaN,NaN,0.524,NaN,NaN,NaN,NaN,13.315,NaN
1481,BGD,Bangladesh,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.533,NaN,NaN,0.007,NaN,NaN,NaN,NaN,0.036,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16248,GBR,United Kingdom,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,196.709,NaN,NaN,24.151,NaN,NaN,NaN,NaN,1086.757,NaN
16369,USA,United States,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,400.693,NaN,NaN,8.310,NaN,NaN,NaN,NaN,1016.709,NaN
16487,URY,Uruguay,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,131.813,NaN,NaN,40.314,NaN,NaN,NaN,NaN,1564.595,NaN
16808,VNM,Vietnam,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,138.432,NaN,NaN,0.364,NaN,NaN,NaN,NaN,9.994,NaN
17024,OWID_WRL,World,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.327,NaN,NaN,6.152,NaN,NaN,NaN,NaN,204.006,NaN

In [5]:
energy_2020 = energy_2020[['iso_code', 'country', 'renewables_share_elec']]
energy_2020

       iso_code         country  renewables_share_elec
800         ARG       Argentina                 24.796
1038        AUS       Australia                 24.867
1159        AUT         Austria                 79.268
1200        AZE      Azerbaijan                  7.307
1481        BGD      Bangladesh                  1.397
...         ...             ...                    ...
16248       GBR  United Kingdom                 42.296
16369       USA   United States                 20.444
16487       URY         Uruguay                 94.060
16808       VNM         Vietnam                 30.986
17024  OWID_WRL           World                 28.985

[69 rows x 3 columns]

In [6]:
# merging energy_2020 and countries
c_e2020 = countries.merge(energy_2020, left_on='country_code', right_on='iso_code')

# removing redundant columns
c_e2020 = c_e2020.drop(['country_y', 'country_code'], axis=1)
c_e2020

,country_x,geometry,iso_code,renewables_share_elec
0,Canada,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",CAN,68.520
1,United States of America,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",USA,20.444
2,Kazakhstan,"POLYGON ((87.35997 49.21498, 86.59878 48.54918...",KAZ,11.028
3,Argentina,"MULTIPOLYGON (((-68.63401 -52.63637, -68.25000...",ARG,24.796
4,Chile,"MULTIPOLYGON (((-68.63401 -52.63637, -68.63335...",CHL,48.652
...,...,...,...,...
61,Czechia,"POLYGON ((15.01700 51.10667, 15.49097 50.78473...",CZE,12.090
62,Japan,"MULTIPOLYGON (((141.88460 39.18086, 140.95949 ...",JPN,26.291
63,Cyprus,"POLYGON ((32.73178 35.14003, 32.91957 35.08783...",CYP,11.186
64,Bosnia and Herzegovina,"POLYGON ((18.56000 42.65000, 17.67492 43.02856...",BIH,32.290
65,Republic of Serbia,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",SRB,30.008

In [7]:
# preparation for visualizsation:

c_e2020_json = json.loads(c_e2020.to_json())

In [8]:
import folium

m = folium.Map(location=[50, 0], zoom_start=1.4)

folium.Choropleth(
    geo_data = c_e2020_json,
    data = c_e2020,
    columns=["iso_code", "renewables_share_elec"],
    key_on="feature.properties.code",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="renewable energy share(%)",
).add_to(m)

folium.LayerControl().add_to(m)

m.save("map.html")
m

AttributeError: module 'folium' has no attribute 'Map'

In [9]:
#drawing the graph for a specific country of interest:
import IDS_group_notebook 

c_o_i = input("For which country would you like to see the development of the share of renewable energy and of recycled paper:") # c_o_i = country of interest
while (not c_o_i in list(c_e2020["country_x"])):
    print("Sorry, the country name you put in is invalid. A valid input would be e.g. 'Finland'. \nTry again: ")
    c_o_i = input(" For which 'country would you like to see the development of the share of renewable energy and of recycled paper:") # c_o_i = country of interest

IDS_group_notebook.share_renewable(c_o_i)

For which country would you like to see the development of the share of renewable energy and of recycled paper: Finland